<div class="container">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-home" aria-hidden="true"></i> Loan Details
    </div>
    <div class="card-block">
      <form [formGroup]="loanForm" class="form-inline">
        <div class="container">
          <div class="form-group">

            <div class="col-sm-3 col-md-3">
              <md-input-container>
                <input mdInput placeholder="Mortgage Value" type="number" [formControl]="principal" name="principal"
                       id="principal">
                <div [hidden]="principal.valid || principal.untouched">
                  <div [hidden]="!principal.hasError('required')">
                    Principal is mandatory
                  </div>
                  <div [hidden]="!principal.hasError('minValue')">
                    You can't buy a house with anything less than 10000 <i class="fa fa-smile-o" aria-hidden="true"></i>
                  </div>
                </div>
              </md-input-container>
            </div>

            <div class="col-sm-3 col-md-3">
              <label for="interestRate">Interest Rate</label>
              <md-slider [min]="1" [max]="100" [step]="0.01" [value]="5.5" [thumbLabel]="true"
                         [formControl]="interestRate"
                         id="interestRate"></md-slider>
            </div>


            <div class="col-sm-3 col-md-3">
              <label for="years">Years</label>
              <md-slider class="form-element-full-width" [min]="1" [max]="40" [value]="30" [thumbLabel]="true"
                         id="years"
                         [formControl]="years"></md-slider>
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<app-loan-graph></app-loan-graph>
